@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

html {font-family: "Oxygen"; background: #C9A0B8;}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}